---
// Shared top nav.
---
<nav>
  <div class="nav-in">
    <a class="brandmark" href="/"><span class="mk">NS</span> Nilotpal M. Saharia</a>
    <div class="nav-links">
      <a href="/blog">Blog</a>
      <a class="nav-cta" href="mailto:nilotpalmsaharia@gmail.com">Get in touch</a>
    </div>
  </div>
</nav>
